@model IList<Park>
@{
    ViewData["Title"] = "Home Page";
}

@foreach (Park park in Model)
 {
    <div class="grid_class">
        <div class="park_image">
            <img src="~/images/@(park.ParkCode).jpg" />
        </div>
        <p class="park_name">@park.ParkName</p>
        <p class="park_desc">@park.ParkDescription</p>
    </div>

 }
