@model IList<SurveyResult>
@{
    ViewData["Title"] = "SurveyResults";
}


<p id="thankyou">Thank you for your feedback!</p>

    @foreach (SurveyResult survey in Model)
    {
        <div id="survey_results">
            <img src=~/images/@(survey.ParkCode).jpg />
            <p id="survey_park">@survey.ParkName </p>
            <p id="votes"> Votes: @survey.Votes</p>
        </div>
    }
