/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url('../images/1512c733-fb36-4be2-be1d-352f507aa1f6-banner.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    

}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

.logo {
    display: block;
    width: 50%;
    /*background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));*/
    /*background-color: black;
    opacity: 0.8;*/
}

.logoBackground {
    width: 100%;
    /*position: absolute;
    top: 0;*/
    background-image: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0));
}

.grid_class {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 7fr;
    grid-template-areas: "pic name" "pic desc";
    background-color: aliceblue;
    border-radius: 20px;
    margin-bottom: 20px;
    opacity: .9;
    box-shadow: 20px 20px 50px black;
}

.park_image{
    grid-area: pic;
    width: 25px;
}

    .park_image img {
        width: 500px;
        height: 330px;
        border: 5px solid black;
        border-radius: 20px;
        margin-top: 15px;
        margin-left: 10px;
    }

    .park_name {
        grid-area: name;
        height: auto;
        font-weight: bold;
        font-size: 25px;
        padding-top: 1px;
        text-shadow: 2px 2px 5px #29bb43;
    }
#survey_results img{
    width: 500px;
    height: 330px;
    border: 5px solid black;
    border-radius: 20px;
    margin-bottom: 20px;
}

.park_name:hover {
    color: forestgreen;
}

a {
    color: black;
}

.park_desc{
    grid-area: desc;
}


.weather_image > img {
    display: block;
    width: 50px;
}

#blurbDiv {
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 10px;
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 20px 20px 50px black;
}

#buttonsDiv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "far cel";
    margin-bottom: 50px;
    align-content: center;
    align-items: center;
}

#buttonFForm {
    grid-area: far;
    position: relative;
}

#buttonCForm {
    grid-area: cel;
    position: relative;
}

#buttonF {
    margin-left: 50%;
}

#buttonC {
    margin-right: 50%;
}

.tempTypeButton {
    border-radius: 50%;
    min-width: 150px;
    min-height: 100px;
    padding: 15px;
    background-image: linear-gradient(to bottom right, #adebeb, #0099cc);
    color: #ffeee6;
    text-shadow: 3px 3px 2px 3px #ccc;
    font-size: 2.25rem;
    font-family: Verdana,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-shadow: 20px 20px 50px black;
}

    .tempTypeButton:hover {
        border-radius: 50%;
        min-width: 150px;
        min-height: 100px;
        padding: 15px;
        background-image: linear-gradient(to bottom right, #ffd480, #cc0000);
        color: #ffeee6;
        text-shadow: 3px 3px 2px 3px #ccc;
        font-size: 2.25rem;
        font-family: Verdana,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        box-shadow: 3px 3px 5px 6px #666;
    }

    .tempTypeButton:active {
        border-radius: 50%;
        min-width: 150px;
        min-height: 100px;
        padding: 15px;
        background-image: linear-gradient(to bottom right, #adebeb, #0099cc);
        color: #ffeee6;
        text-shadow: 3px 3px 2px 3px #ccc;
        font-size: 2.25rem;
        font-family: Verdana,'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        transform: translateY(4px);
    }

.parkPic {
    width: 1200px; /* width of container */
    height: 500px; /* height of container */
    object-fit: cover;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 20px 20px 50px black;
}

#selectInstruction {
    margin-bottom: 5rem;
}

#surveyInstruction {
    margin-bottom: 5rem;
}

#emailInstruction {
    margin-bottom: 5rem;
}

#stateOfResidenceInstruction {
    margin-bottom: 5rem;
}

#activityLevelInstruction {
    margin-bottom: 5rem;
}

.parkOptions {
    margin: 5px;
}

#today_card {
    display: grid;
    grid-area: today_card;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr;
    grid-template-areas: "message message" "pic pic" "high low" "forecast forecast";
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 20px 20px 50px black;
    padding: 10px;
}

#today_message{
    grid-area: message;
    text-align: center;
}

#today_image {
    grid-area: pic;
}

    #today_image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

#today_high{
    grid-area: high;
}
#today_low {
    grid-area: low;
}

#conditions{
    text-align: center;
}
#forecast_detail{
    grid-area: forecast;
}





#weather_card1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "message message" "card_pic card_pic" "high low";
    grid-area: weather_card1;
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 20px 20px 50px black;
}

#weather_card2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "message message" "card_pic card_pic" "high low";
    grid-area: weather_card2;
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 20px 20px 50px black;
}

#weather_card3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "message message" "card_pic card_pic" "high low";
    grid-area: weather_card3;
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    box-shadow: 20px 20px 50px black;
}

#weather_card4 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: "message message" "card_pic card_pic" "high low";
    grid-area: weather_card4;
    border: 5px solid black;
    border-radius: 20px;
    background-color: white;
    opacity: .9;
    box-shadow: 20px 20px 50px black;
}

#day_message{
    text-align: center;
    grid-area: message;
}

#high {
    grid-area: high;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


#low {
    grid-area: low;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#weather_image {
    grid-area: card_pic;
}
    #weather_image img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 75%;
    }


#forecast {
    display: grid;
    grid-template-columns: 25% 18% 18% 18% 18%;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas: "today_card weather_card1 weather_card2 weather_card3 weather_card4" "today_card weather_card1 weather_card2 weather_card3 weather_card4"
    /*"today_card weather_card1 weather_card2 weather_card3 weather_card4"*/
    "today_card . . . .";

    grid-column-gap: 20px;
}

#surveyPageDiv {
    background-color: #b5f290;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 20px 20px 50px black;
    opacity: .9;
}

#formGrid {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pleaseTakeIt {
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 25px;
    font-size: 2rem;
}

.formGroup {
    padding: 5px;
    width: 500px;
    display: flex;
    align-items: center;
}

.firstSide {
    padding: 0 5px;
    text-align: right;
    flex-grow: 1;
    flex-basis: 100px;
}

.secondSide {
    flex-grow: 2;
    flex-basis: 200px;
    background: #ffeecc;
}

#allTheActivityStuff {
    padding: 5px;
    display: block;
    align-items: center;
}

#activityLevelInstruction {
    text-align: center;
    margin: 5px;
    text-decoration-style: double;
}

#activityOptionsDiv {
    text-align: left;
    margin: 5px;
}

.activityOption {
    margin: 2px;
}

/*#activityLevelInstruction {
    grid-area: one;
}

#inactiveYo {
    grid-area: two;
}

#sedentaryYo {
    grid-area: three;
}

#activeYo {
    grid-area: four;
}

#extremelyActiveYo {
    grid-area: five;
}*/

#submitB {
    grid-area: sub;
    background: #ffeecc;
    border: 2px solid black;
    border-radius: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}


#survey_results {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "pic park" "pic votes";
    background-color: #b5f290;
    border: 5px solid black;
    border-radius: 20px;
    box-shadow: 20px 20px 50px black;
    opacity: .9;
    margin-bottom: 20px;

}
    #survey_results img{
        grid-area: pic;
        border-radius: 50%;
        margin-left: 20%;
        margin-top: 19px;
    }

#survey_park {
    font-size: 40px;
    grid-area: park;
    height: auto;
    font-weight: bold;
    padding-top: 1px;
    text-shadow: 2px 2px 5px #29bb43;
}

#votes {
    grid-area: votes;
    font-size: 40px;
    height: auto;
    font-weight: bold;
    padding-top: 1px;
    text-shadow: 2px 2px 5px #b0ad29;
}

#thankyou {
    background-color: #292b28;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
    font-family: 'Baskerville Old Face';
    font-size: 50px;
    opacity: .9;
    margin-bottom: 50px;
    color: floralwhite;

}

Hide/rearrange for smaller screens 
@media screen and (max-width: 767px) {
    Hide captions 
    .carousel-caption {
        display: none;
    }

}


